 footer{

            background: red;
            color: white;
            font: normal 10pt sans-serif;
            width: 100%;
        }
        
        /* Menu Responsivo*/
        
        *{
            padding: 0;
            margin: 0;
        }
        .cabecalho{
           background: red;
        }

        .menu ul {
            list-style: none;
        }

        .menu ul li {
            display: inline-block;
            position: relative;
        }

        .menu ul li a {
            display: block;
            padding: 20px 25px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul li ul.dropdown li {
            display: block;
        }

        ul li ul.dropdown {
            width:100% ;
            background:red;
            position: absolute;
            z-index: 999;
            display: none;
        }

        ul li a:hover {
            color: yellow;
        }

        ul li:hover ul.dropdown {
            display: block;
        }


        a.info{
            text-decoration: none;
            color: white;
           
        }

        #brands{

            margin: 10px;
        }
         div#brands h2{
            font: normal 20pt sans-serif;
            text-align: center;
            color: gray;
            margin-bottom: 0px;
            margin-left: 5px;
            
        }

        div#brands h1{
            font: normal 20pt sans-serif;
            text-align: center;
            color: rgb(82, 80, 80);
            margin-top: 0px;
            
        }

       .slider{
        position: relative;
        max-width: 100%;
        margin-left:  17px;
        overflow: hidden;
        padding: 20px 0;
        box-sizing: border-box;
       }

       .janela{
        width: 100%;
        overflow: hidden;
        text-align: center;
       }

       .marcas{
        display: inline-flex;
        gap: 40px;
       }

    .slide{
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide img{
        width: 150px;
        height: auto;
        display: block;

    }

        
            /* Setas-css*/ 
        .seta{
            position: absolute;
            top: -1px;
            right: 10px;
            background: #ddd;
            border: none;
            padding: 10px  12p
        }

        .seta.esquerda{
            right: 60px;
            display: block;
        }

        .seta.direita{
            right: 10px;
        }

           /* Bolinhas-css*/
        .bolinhas{
            text-align: center;
            margin-top: 10px;
        }

        .dot{
            height: 10px;
            width: 10px;
            background: #ccc;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px;
        }

        .dot.active{
            background: rgb(247, 0, 0);
        }
       

         .accoes {
             text-align: center;
         }

        .accoes h1{
            font: normal 20pt sans-serif;
            text-align: center;
            color: rgb(82, 80, 80);
        }
        
       
        /* Icones,fb,ig e in*/
        img.foto-icone{
            width: 35px;
            margin: 8px;
        }


       div#a-social{
        background: url('accao-social.jpg');
        color: white;
        padding: 10px;
        text-align: center;
        font: normal 15pt sans-serif;
        margin: 10px;
        
       }

       a#saber-m{
        text-decoration: none;
        color: yellow;
       
       }
      
       .rodape{
        padding: 10px;
       }
       .rodape p {
        padding: 10px;
       }

        .info {
        margin: 15px;
       }

       .bands{
        text-align: center;
       }
      
       
    