

body{
    font-family: Arial,sans-serif;
    
}

 .banner{
 width: 100%;
 

}

h1,h3{
    color: red;
    margin-top: 25px;
}


footer{

            background: red;
            color: white;
            font: normal 10pt sans-serif;
            width: 100%;
            height: 200px;
            padding: 25px;
            margin-top: 45px;
        }

.icone-cinza{
     width: 25px;
     padding: 5px;
   


}
a.info{
            text-decoration: none;
            color: white;
           
        }

img.foto-icone{
            width: 35px;
            margin: 8px;
        }

         
        *{
            padding: 0;
            margin: 0;
        }
        .cabecalho{
           background: red;
        }

        .menu ul {
            list-style: none;
        }

        .menu ul li {
            display: inline-block;
            position: relative;
        }

        .menu ul li a {
            display: block;
            padding: 20px 25px;
            color: #fff;
            text-decoration: none;
            text-align: center;
            font-size: 13px;
            font-family: Arial, Helvetica, sans-serif;
        }

        ul li ul.dropdown li {
            display: block;
        }

        ul li ul.dropdown {
            width:100% ;
            background:red;
            position: absolute;
            z-index: 999;
            display: none;
        }

        ul li a:hover {
            color: yellow;
        }

        ul li:hover ul.dropdown {
            display: block;
        }

          .rodape p {
        padding: 10px;
       }

        .info {
        margin: 15px;
       }

       